.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
body{
  background-color: black;
}
.section1{
  display: flex;
  margin-left: 12rem;
  margin-right: 12rem;
  justify-content: space-between;
  align-items: center;
}
.logo{
  position: relative;
  color: rgba(230, 83, 60, 1);
  font-family: "Inter", sans-serif;
  font-style: italic;
  z-index: 1;
}
.header ul{
  display: flex;
  list-style: none;
  padding: 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.178);
  border-radius: 50px;
}
.header ul li{
  color: white;
  margin-right: 47px;
  padding: 8px 20px;
}
.header ul li a{
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: small;
}
.orange-hover{
  padding: 8px 20px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 50px;
}
.banner-content h1{
  margin-left: 11.8rem;
  color: white;
  font-family:"Inter", sans-serif;
  font-size: 78px;
  font-weight: 900;
}
#styled-text{
  font-family: "Miama", sans-serif;
}
.banner-content p{
  color: rgba(255, 255, 255, 0.425);
  margin-left: 12rem;
  position: relative;
  margin-top: -3.5rem;
  font-family:"Inter", sans-serif;
  width: 35rem;
}
.buttons{
  margin-left: 12rem;
  margin-top: 1.5rem;
}
.join{
  padding: 16px 40px;
  background-color: rgba(230, 83, 60, 1);
  color: white;
  border-radius: 50px;
  border: none;
  font-family: "Inter", sans-serif;
}
.download{
  padding: 16px 40px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.534);
  font-family: "Inter", sans-serif;
}
.banner-pics img{
  position: relative;
  margin-left: 55rem;
  margin-top: -30rem;
}
.ad1{
  position: relative;
  margin-left: 50rem;
  margin-top: -15rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
  width: 206px;
  height: 96px;
  font-family: "Inter", sans-serif;
  padding: 20px 23px;
  border: 1px solid rgba(255, 255, 255, 0.527);
  border-radius: 20px;
  filter: blur(20);
}
.ad1-contents{
  padding-left: 3.5rem;
}
#ad1-icon{
  position: relative;
  margin-left: -0.5rem;
  margin-top: -5rem;
  width: 50px;
  height: 50px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 50px;
}
.ad2{
  position: relative;
  text-align: center;
  font-size: larger;
  align-items: center;
  justify-content: center;
  margin-left: 67rem;
  margin-top: -26rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
  width: 190px;
  height: 96px;
  font-family: "Inter", sans-serif;
  padding: 20px 23px;
  border: 1px solid rgba(255, 255, 255, 0.527);
  border-radius: 20px;
  filter: blur(20);
}
.ad2-contents{
  padding-left: 3.5rem;
}
.section3-texts{
  position: relative;
  margin-top: 30rem;
  color: white;
  text-align: center;
  font-family: "Inter", sans-serif;
  
}
.section3-texts h1{
  font-size: 48px;
}
.section3-texts p{
  margin-top: -2%;
  margin-left: 29%;
  width: 35rem;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
}
.cards{
  display: flex;
  text-align: center;
  font-family: "Inter", sans-serif;
  width: 80%;
  justify-content: space-between;
  margin-left: 7.5rem;
  margin-top: 4rem;
}
.card-1{
  color: white;
  width: 10rem;
}
.card-1 p{
  font-size: smaller;
  opacity: 0.5;
}
.card-1 img{
  border-radius: 100px;
}
.card-2{
  color: white;
  width: 10rem;
}
.card-2 p{
  font-size: smaller;
  opacity: 0.5;
}
.card-2 img{
  border-radius: 100px;
}
.card-3{
  color: white;
  width: 10rem;
}
.card-3 p{
  font-size: smaller;
  opacity: 0.5;
}
.card-3 img{
  border-radius: 100px;
}
.card-4{
  color: white;
  width: 10rem;
}
.card-4 p{
  font-size: smaller;
  opacity: 0.5;
}
.card-4 img{
  border-radius: 100px;
}
.section4{
  margin-top: 8rem;
  display: flex;
  color: white;
  font-family: "Inter", sans-serif;
  text-align: left;
  border-radius: 18px;
  background-color: rgba(34, 34, 34, 1);
  margin-left: 8rem;
  width: 81.5%;
}
.section4-texts{
  padding-left: 5rem;
  margin-top: 3rem;
  width: 27rem;
}
.section4-texts p{
  opacity: 0.5;
  font-size: smaller;
}
.section4 img{
  width: 22rem;
  position: relative;
  margin-left: 38rem;
  margin-top: -12.5rem;
  margin-bottom: 2rem;
  border-radius: 18px;
}
.section5{
  margin-top: 8rem;
  margin-left: 8rem;
  color: white;
  font-family: "Inter", sans-serif;
  z-index: 2;
}
.section5 img{
  width: 100%;
  margin-top: -27rem;
  z-index: -3;
  position: relative;
}
.section5 h1{
  padding-left: 5rem;
  margin-top: 20rem;
  width: 27rem;
  font-size: 48px;
  z-index: 3;
}
.section5 p{
  padding-left: 5rem;
  margin-top: 2rem;
  width: 27rem;
  z-index: 3;
}
#section5-btn{
  display: flex;
  position: relative;
  margin-top: -12rem;
  margin-left: 5rem;
  padding: 16px 40px;
  background-color: rgba(230, 83, 60, 1);
  color: white;
  border-radius: 50px;
  border: none;
  z-index: 3;
  font-family: "Inter", sans-serif;
}
.section6{
  color: white;
  position: relative;
  margin-top: 20rem;
  text-align: center;
  font-family: "Inter", sans-serif;
}
#section6-main-heading{
  font-size: 48px;
}
#section6-main-para{
  width: 30%;
  margin-left: 35%;
  margin-top: -1rem;
  opacity: 0.5;
}
.bmi-table {
  width: 30%;
  border-collapse: collapse;
  color: #eaeaea;
  margin-top: 5%;
  margin-left: 10%;
  text-align: left;
  border: 1px solid #444;
}
.bmi-table th, .bmi-table td {
  padding: 12px 15px;
  border: 1px solid #444;
}
.bmi-table th {
  font-size: 1.2rem;
}
.bmi-table td {
  font-size: 1rem;
  opacity: 0.5;
}
/* .section6-container{
  display: flex;
} */

#BMI-chart-heading{
  font-size: 24px;
  margin-top: 5%;
  margin-left: -50%;
}
#BMI-calc-heading{
  font-size: 24px;
  margin-top: -81%;
}
#BMI-calc-para{
  opacity: 0.5;
}
.heading-texts{
  width: 30%;
  text-align: left;
  margin-left: 50%;
}
.inputs{
  margin-left: 26.5%;
  /* width: 90%; */
}
#height-input{
  width: 15%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  border: none;
  border-radius: 8px;
  margin-right: 5px;
  margin-bottom: 10px;
}
#weight-input{
  width: 15%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}
.first-row-input{
  display: block;
}
.second-row-input{
  display: block;
}
#age-input{
  width: 15%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 0%;
  margin-bottom: 10px;
}
#sex{
  width: 17.5%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.13);
  color: rgba(255, 255, 255, 0.363);
  border: none;
  border-radius: 8px;
  margin-left: 5px;
}
#sex option{
  color: black;
}
#activity{
  display: block;
  width: 36%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.13);
  color: rgba(255, 255, 255, 0.363);
  border: none;
  border-radius: 8px;
  margin-left: 32.10%;
}