.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
body{
  background-color: black;
}
.section1{
  display: flex;
  margin-left: 12rem;
  margin-right: 12rem;
  justify-content: space-between;
  align-items: center;
}
.logo{
  position: relative;
  color: rgba(230, 83, 60, 1);
  font-family: "Inter", sans-serif;
  font-style: italic;
  z-index: 1;
}
.header ul{
  display: flex;
  list-style: none;
  padding: 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.178);
  border-radius: 50px;
}
.header ul li{
  color: white;
  text-decoration: none;
  margin-right: 47px;
  padding: 8px 20px;
}
.orange-hover{
  padding: 8px 20px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 50px;
}
.banner-content h1{
  margin-left: 11.8rem;
  color: white;
  font-family:"Inter", sans-serif;
  font-size: 78px;
  font-weight: 900;
}
#styled-text{
  font-family: "Miama", sans-serif;
}
.banner-content p{
  color: white;
  margin-left: 12rem;
  position: relative;
  margin-top: -3.5rem;
}
.buttons{
  margin-left: 12rem;
  margin-top: 1.5rem;
}
#join{
  padding: 16px 40px;
  background-color: rgba(230, 83, 60, 1);
  color: white;
  border-radius: 50px;
  border: none;
}
#download{
  padding: 16px 40px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.534);
}
.banner-pics img{
  position: relative;
  margin-left: 55rem;
  margin-top: -30rem;
}
.ad1{
  position: relative;
  margin-left: 50rem;
  margin-top: -15rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
  width: 206px;
  height: 96px;
  font-family: "Inter", sans-serif;
  padding: 20px 23px;
  border: 1px solid rgba(255, 255, 255, 0.527);
  border-radius: 20px;
  filter: blur(20);
}
.ad1-contents{
  padding-left: 3.5rem;
}
#ad1-icon{
  position: relative;
  margin-left: -0.5rem;
  margin-top: -5rem;
  width: 50px;
  height: 50px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 50px;
}
.ad2{
  position: relative;
  text-align: center;
  font-size: larger;
  align-items: center;
  justify-content: center;
  margin-left: 67rem;
  margin-top: -26rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.11);
  width: 206px;
  height: 96px;
  font-family: "Inter", sans-serif;
  padding: 20px 23px;
  border: 1px solid rgba(255, 255, 255, 0.527);
  border-radius: 20px;
  filter: blur(20);
}
.ad2-contents{
  padding-left: 3.5rem;
}